doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title projects.fajfar.com
		link(rel="stylesheet", href="styles/main.css", type="text/css")
		//link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		script(src="bower_components/webcomponentsjs/webcomponents-lite.min.js")
		link(rel="import", href="components/projectBadge.html")
	body
		include _projects