<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="project-badge">
	<template>
		<link rel="stylesheet" href="projectBadge.css" />

		<div class="title">
			<h1>{{title}}</h1>
		</div>

		<div class="image">
			<img src="{{badge_image}}">
		</div>

		<div class="description">
			<content></content>
		</div>

		<div class="links">
			<a href="{{repo}}" target="_blank"><i class="fa fa-github"></i></a>
			<a href="{{home}}" target="_blank"><i class="fa fa-home"></i></a>
		</div>
	</template>

	<script>
		Polymer({
			is: 'project-badge',
			properties: {
				title: String,
				badge_image: String,
				repo: String,
				home: String
			}
		});
	</script>
</dom-module>