@import "ractive";
@import "font-awesome";

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

$badge-header-font-family : 'Roboto Condensed', sans-serif;
$badge-border-color : black;
$badge-bg-color : white;
$text-color : rgb(51, 51, 51);
$link-color : rgba(0, 0, 0, 0.2);


@mixin top-inner-shadow(){
	box-shadow: inset 0 8px 6px -2px rgba(0, 0, 0, 0.2);
}

project-badge {
	@include respond-to($media-mobile) {
		width: 100%;
		margin-bottom: 40px;
		font-size: 20px;
	}
	font-size: 10px;
	margin: 10px;
	width: 300px;
	position: relative;
	border: 1px solid $badge-border-color;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: $badge-bg-color;
	align-self: flex-start;

	.title {
		@include respond-to($media-mobile) {
			height: 120px;
			position: absolute;
			left: 320px;
			top: 30px;
			width: 50%;
			border-bottom: none;
		}
		width: 100%;
		height: 60px;
		display: table;
		font-family: $badge-header-font-family;
		text-align: center;
		border-bottom: 1px solid $badge-border-color;
		background: $badge-bg-color;

		h1{
			font-size: 3em;
			display: table-cell;
			vertical-align: middle;
		}
	}

	.image{
		display: table-cell;
		height: 200px;
		width: 300px;
		overflow: hidden;
		background-color: white;
		vertical-align: middle;

		img {
			display: block;
			max-width: 300px;
			max-height: 200px;
			margin: auto;
			@include respond-to($media-mobile) {
				position: relative;
			}
		}
	}

	h1{
		margin: 0;
	}
	

	.description {
		padding: 15px;
		color: $text-color;
		font-family: 'Open Sans Light', sans-serif;
		@include top-inner-shadow();
		@include respond-to($media-mobile) {
			padding: 32px;
		}

		> h1, > h2, > h3 {
			font-size: 2em !important;
		}

		> p {
			margin-top: 10px;
			margin-bottom: 0;
			font-size: 1.4em;
		}
	}

	.links {
		height: 1.4em;
		width: 100%;
		text-align: center;
		display: table;
		background-color: #e8e8e8;
		box-shadow: inset 0 8px 60px -2px rgba(0, 0, 0, 0.2);
		font-size: 60px;
		@include respond-to($media-mobile) {
			font-size: 100px;
		}


		a {
			vertical-align: middle;
			display: table-cell;
			text-decoration: none;
			color: $link-color;
			-webkit-transition: color 0.5s ease-out;
			-moz-transition: color 0.5s ease-out;
			-o-transition: color 0.5s ease-out;
			transition: color 0.5s ease-out;


			&:hover {
				color: black;
			}
		}
	}
}