//break points for media queries

$mobile: "only screen and (min-width : 480px)"
$tablets: "only screen and (min-width : 768px)"
$desktop: "only screen and (min-widht : 1024px)"

// reset styles
html,
body,
ul,
ol
	margin:  0
	padding: 0

html
	font-size: 10px

=fade-in()
	-webkit-transition: opacity 2s ease-in
	-moz-transition: opacity 2s ease-in
	-o-transition: opacity 2s ease-in
	-ms-transition: opacity 2s ease-in
	transition: opacity 2s ease-in
	opacity: 0

=linear-gradient($direction, $color-stops...)
	background: nth(nth($color-stops, 1), 1)
	background: -webkit-linear-gradient(legacy-direction($direction), $color-stops)
	background: linear-gradient($direction, $color-stops)
