@import common

html
	//background-image: url(/images/bg_pattern.png) // http://www.colourlovers.com/pattern/3650985/4Techno
	+linear-gradient(#272822, #222)
	height: 100%

.projects_container
	display: flex
	margin: 20px
	flex-direction: row
	flex-wrap: wrap